.home {
  //padding: 2rem;

  @media (max-width: 450px) {  // Correct media query syntax
    display: flex;
    align-items: center; // Centers children vertically
    justify-content: center; // Centers children horizontally (if needed)
    height: 100vh; // Ensures full viewport height
  }

  &__presentation {
    z-index: 10;  // Ensure the presentation box is above the Earth image
    position: relative;  // Makes sure it stays in place above the Earth
    padding: 1rem;
    left: 50%;
    @media (max-width: 450px) {  // Correct media query syntax
      left: auto;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;

    @media (width <= 450px) {
      margin-top: 4rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    color: gray;
  }

  &__earth {
    z-index: 0;  // Earth is placed behind other elements
    position: absolute;  // Position it as absolute for correct stacking context
    transition: transform 0.3s ease, opacity 0.3s ease;  // Smooth transition
    opacity: 1;
    rotate: 190deg;

    @media (min-width: 1000px) {
      width: 35rem;
      height: auto;
      left: 80%;
    }
  }

  &__arrow{
    position: absolute;
    rotate: -30deg;
    top: 74%;
    left: 50%;
    width: 8%;
    height: auto;
    opacity: 80%;
    z-index: 10;

    @media (min-width: 500px) and (max-width: 1000px) {
      rotate: 200deg;
      transform: scaleX(-1);
      top: 30%;
      left: 35%;
      right: 5rem;
      width: auto;
      height: 12%
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
      top: 55%;
      left: 50%;
    }

    @media (min-width: 1500px) and (max-width: 3024px) {
      top: 65%;
      left: 50%;
    }

    @media (min-width: 3024px) and  (max-width: 4000px){
      top: 55%;
    }
  }

  &__astronaut {
    z-index: 10;  // Same z-index as Arrow
    position: absolute;
    transition: transform 0.3s ease-in-out;

    &--animated {
      z-index: 0;  // Astronaut and Arrow on the same layer
      position: absolute;
      animation: float 3s infinite alternate ease-in-out;
      right: 20%;
      width: 15rem;

      @media (min-width: 500px) and (max-width: 1000px) {
        right: 5rem;
        width: 15rem;
        top: 10%;
        left: 70%;
      }
      @media (min-width: 1000px) {
        top: 40%;
        left: 65%;
      }
    }
  }
}



.waveAnimation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
