@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

:root{
  font-family: 'Space Mono', sans-serif;

}
html{
  scroll-behavior: smooth;
}
html, body {

  max-width: 100%;
  overflow-x: hidden;
}

section{
  max-width: 80%;
}

p{
  font-size: 1.2rem;
  line-height: 1.8;
}

.external-link {
  @apply cursor-pointer text-yellow-100 underline underline-offset-2 transition duration-300 ease-in-out hover:bg-yellow-100 hover:no-underline hover:text-gray-900 px-2 py-1
}

/* Add this custom CSS for Firefox */
.scroll-snap {
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory; /* Firefox support */
}

.scroll-snap-child {
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start; /* Firefox support */
}


.custom-background {
  background-color: #1B2434;
}
