@use "./breakpoints";
@use "./colors";
@use "./spacing";
@use "./utils";
@use "./animations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  margin: 0;
}
